body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    color: white;
    margin: 0;
}
html{
    height: -webkit-fill-available;
}
.header-wrap, .footer{
    background-color: #372b1f;
}
.header-wrap{
    display: flex;
    justify-content: center;
    flex: 5;
}
.header{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 1em;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
}
.top, .bottom{
    padding: 0 1em;
}
.logo{
    font-size: 1.5rem;
    color: #F9FAF8;
    font-weight: 800;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    padding-left: 1em;
}
a{
    text-decoration: none;
    color: white;
}
.about{
    width: 500px;
}
.about > button{
    margin-top: 16px;
}
.title{
    font-weight: 800;
    color: #F9FAF8;
    font-size: 3rem;
}
.text, li > a{
    font-size: 1.1rem;
}
.text{
    color: #E5E7EB;
}
button{
    background-color: #f69637;
    color: white;
    border: 2px solid #f69637;
    border-radius: 5px;
    padding: 4px 8px;
    font-weight: bold;
    cursor: pointer;
}
img{
    width: 300px;
    height: 200px;;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    min-height: 50vh;
    flex: 4 0;
    padding: clamp(1em, 5vw, 2em) 0;
}
.items{
    display: flex;
    justify-content: center;
    gap: clamp(2em, 5vw, 4em);
}
.info-header{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}
.square{
    border: 5px solid #f69637;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square > p{
    color: #f69637;
    margin: 0;
    font-size: 50px;
}
.item{
    width: 105px;
}
.item > p{
    color: #1F2937;
    text-align: center;
}
.quote-wrap{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4 0 350px;
}
.quote{
    width: min(800px, 50vw);
    display: flex;
    flex-direction: column;
    gap: clamp(1em, 5vw, 1.5em);
}
.quote-text{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;  
}
.author{
    font-size: 18px;
    font-weight: bold;
    color: black;
    align-self: flex-end;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3 0 300px;
}
.box{
    background-color: #f69637;
    border-radius: 5px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.box-header{
    font-weight: 800;
}
.box > button{
    border: 2px solid white;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 70px;
    padding: .5em 0;
}
.footer-content{
    text-align: center;
}
.footer-content a{
    color: #f69637;
}

@media only screen and (max-width: 1000px){
    .bottom{
       flex-direction: column; 
       align-items: center;
       justify-content: center;
       gap: 1em;
    }
    .about{
        text-align: center;
    }
}

@media only screen and (max-width: 700px){
    .items{
        flex-wrap: wrap;
    }
}