/* ------------------
     GLOBAL STYLES 
   ------------------ */

:root{
    --clr-orange: #f69637;
    --clr-brown: #372b1f;
    --clr-dark: #1F2937;
    --clr-light: #F9FAF8;
    --clr-gray: #E5E7EB;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    color: var(--clr-light);
    margin: 0;
}

html{
    height: -webkit-fill-available;
}

/* ------------------
       TYPOGRAPHY 
   ------------------ */

.text-center{
    text-align: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: inherit;
}

.title{
    font-weight: 800;
    font-size: 3rem;
}

.text, li > a{
    font-size: 1.1rem;
}

.info-header{
    font-size: 2.3rem;
    font-weight: 800;
}

.quote-text{
    font-size: 2.3rem;
    font-style: italic;
    font-weight: 300;  
}

.author{
    font-size: 1.1rem;
    font-weight: bold;
    align-self: flex-end;
}

.box-header{
    font-weight: 800;
}

/* ------------------
         LAYOUT 
   ------------------ */

.header-wrap{
    display: flex;
    justify-content: center;
    flex: 5;
}

.header{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 1em;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
}

.top, .bottom{
    padding: 0 1em;
}

.about{
    width: 500px;
}

.about > button{
    margin-top: 16px;
}

img{
    width: 300px;
    height: 200px;;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    height: 50vh;
    flex: 4 0;
    padding: clamp(1em, 5vw, 2em) 0;
}

.items{
    display: flex;
    justify-content: center;
    gap: clamp(2em, 5vw, 4em);
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    border: 5px solid var(--clr-orange);
}

.square > p{
    margin: 0;
    font-size: 50px;
}

.item{
    width: 105px;
}

.quote-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4 0 350px;
}

.quote{
    display: flex;
    flex-direction: column;
    gap: clamp(1em, 5vw, 1.5em);
    width: min(800px, 50vw);
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3 0 300px;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    width: 50%;
    border-radius: 5px;
}

.footer{
    padding: .5em 0;
}

p{
    margin: 0.2em;
}

/* ------------------
       COMPONENTS 
   ------------------ */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    padding-left: 1em;
}

button{
    border: 2px solid var(--clr-orange);
    border-radius: 5px;
    padding: 4px 8px;
    font-weight: bold;
    cursor: pointer;
}

.box > button{
    border: 2px solid var(--clr-light);
}

/* ------------------
        COLORING 
   ------------------ */

.bg-clr-orange{
    background-color: var(--clr-orange);
}

.bg-clr-brown{
    background-color: var(--clr-brown);
}

.bg-clr-gray{
    background-color: var(--clr-gray);
}

.text-clr-orange{
    color: var(--clr-orange);
}

.text-clr-dark{
    color: var(--clr-dark);
}

.text-clr-light{
    color: var(--clr-light);
}

/* ------------------
      MEDIA QUERIES 
   ------------------ */

@media only screen and (max-width: 1000px){
    .bottom{
       flex-direction: column; 
       align-items: center;
       justify-content: center;
       gap: 1em;
    }
    .about{
        text-align: center;
    }
}

@media only screen and (max-width: 700px){
    .items{
        flex-wrap: wrap;
    }
}