@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ------------------
     GLOBAL STYLES 
   ------------------ */

:root{
    --clr-primary: #372b1f;
    --clr-secondary: #f69637;
    --clr-secondary-dark: #f4800b;
    --clr-dark: #1F2937;
    --clr-gray: #E5E7EB;
    --clr-light: #F9FAF8;

    --fs-small: 1.1rem;
    --fs-medium: 1.5rem;
    --fs-large: 2.3rem;
    --fs-x-large: 3rem;

    --fw-bold: 800;
    --fw-regular: 300;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    color: var(--clr-light);
    margin: 0;
}

html{
    height: -webkit-fill-available;
}

h1, h2{
    margin: 0;
}

/* ------------------
       TYPOGRAPHY 
   ------------------ */

a{
    text-decoration: none;
    color: inherit;
}

li > a{
    font-size: var(--fs-small);
}

/* ------------------
         LAYOUT 
   ------------------ */

.primary-header{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 1em;
}

.header, .hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.header{
    height: 50px;
}

.hero{
    min-height: 400px;
}

.about{
    width: 500px;
}

.about > button{
    margin-top: 16px;
}

img{
    width: 300px;
    height: 200px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding: clamp(1em, 5vw, 2em) 0;
}

.items{
    display: flex;
    justify-content: center;
    gap: clamp(2em, 5vw, 4em);
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    border: 5px solid var(--clr-secondary);
}

.square > p{
    margin: 0;
    font-size: 50px;
}

.item{
    width: 105px;
}

.quote-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(1em, 5vw, 2em) 0;
}

.quote{
    display: flex;
    flex-direction: column;
    gap: clamp(1em, 5vw, 1.5em);
    width: min(800px, 50vw);
}

.author{
    align-self: flex-end;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(1em, 5vw, 2em) 0;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    width: 50%;
    border-radius: 5px;
}

footer{
    padding: .5em 0;
}

p{
    margin: 0.2em 0;
}

/* ------------------
       COMPONENTS 
   ------------------ */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    padding-left: 1em;
}

button{
    border: 2px solid var(--clr-secondary);
    border-radius: 5px;
    padding: 4px 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: var(--clr-secondary-dark);
    border-color: var(--clr-secondary-dark);
}

.box > button{
    border: 2px solid var(--clr-light);
}

/* ------------------
        UTILITY 
   ------------------ */

.bg-clr-primary{
    background-color: var(--clr-primary);
}

.bg-clr-secondary{
    background-color: var(--clr-secondary);
}

.bg-clr-gray{
    background-color: var(--clr-gray);
}

.text-clr-secondary{
    color: var(--clr-secondary);
}

.text-clr-dark{
    color: var(--clr-dark);
}

.text-clr-light{
    color: var(--clr-light);
}

.text-center{
    text-align: center;
}

.fs-small{
    font-size: var(--fs-small);
}

.fs-medium{
    font-size: var(--fs-medium);
}

.fs-large{
    font-size: var(--fs-large);
}

.fs-x-large{
    font-size: var(--fs-x-large);
}

.fw-bold{
    font-weight: var(--fw-bold);
}

.fw-regular{
    font-weight: var(--fw-regular);
}

.font-italic{
    font-style: italic;
}

/* ------------------
      MEDIA QUERIES 
   ------------------ */

@media only screen and (max-width: 1000px){
    .hero{
       flex-direction: column; 
       align-items: center;
       justify-content: center;
       gap: 1em;
    }
    .about{
        text-align: center;
    }
}

@media only screen and (max-width: 700px){
    .items{
        flex-wrap: wrap;
    }
}